.result{
  height: 100px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  display: block;
}
.resultImageContainer{
  float: left;
  padding-top: 5px;
  display: inline-block;
  width: 120px;
}
.resultDetails{
  float: left;
  height: 100%;
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
}
.resultTitle{
  font-weight: bold;
}
.clear{
  clear: both;
}
